<mat-card>
  <mat-card-title>{{tasksList.name}}</mat-card-title>
  <mat-card-content>
    <mat-accordion >
      <!--<mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 mat-line>Test</h4>
          </mat-panel-title>
          <mat-panel-description>
            <p mat-line> Test </p>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>-->
      <app-task *ngFor="let task of tasks" [task]="task"></app-task>
    </mat-accordion>
  </mat-card-content>
</mat-card>
